<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pattern</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #header{ 
            background-image: url(https://images.unsplash.com/photo-1505985518385-c4e867fcaf82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="http://makini-makini.herokuapp.com" class="navbar-brand"> <i class="bi bi-x-diamond-fill"></i>Leffler-McDermott-Homes</a>
        </div>
    </nav>
    <section id="header" class=" container-fluid jumbotron text-center py-15 my-5">
        <h3 class="display-3">Leffler-McDermott</h3>
        <p class="lead">A designer company for all your home requirements!</p>
        <a href="" class="btn btn-primary">House</a>
        <a href="" class="btn btn-success">Interior</a>
    </section>
    <section id="gallery">
         <div class="container">
            <div class="row">
                 <div class="col-lg-4  mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1426122402199-be02db90eb90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Castle Life</h5>
                            <p class="text">A home of great heights</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Living Room</h5>
                            <p class="text">Nature brought into the living room!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1572120360610-d971b9d7767c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Perfect Home</h5>
                            <p class="text">A small house for hanging out with your wife and kids!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <section id="header" class=" container-fluid jumbotron text-center py-15 my-5 px-0">
                    <h3 class="display-3">Great Homes For You</h3>
                    <p class="lead">A designer company for all your home requirements!</p>
                    <a href="" class="btn btn-primary">House</a>
                    <a href="" class="btn btn-success">Interior</a>
                </section>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1451934403379-ffeff84932da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Green is Home</h5>
                            <p class="text">Climbing plants on walls make the home beautiful!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Live Room</h5>
                            <p class="text">A small but cosy living room!</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Budget Home</h5>
                            <p class="text">A small pocket-friendly home for a sizeable family</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <section id="header" class=" container-fluid jumbotron text-center py-15 my-5">
                    <h3 class="display-3">Dream Homes For You</h3>
                    <p class="lead">A designer company for all your home requirements!</p>
                    <a href="" class="btn btn-primary">House</a>
                    <a href="" class="btn btn-success">Interior</a>
                </section>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1430285561322-7808604715df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Great Estate</h5>
                            <p class="text">Bring up your kids in a serene estate environment</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1475698066764-3dc9200f1c93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1491&q=80" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Green Valley Estate</h5>
                            <p class="text">Buy multiple houses and rent them out later</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1533633310920-cc9bf1e7f9b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Top Bedrooms</h5>
                            <p class="text">Sleep with comfort</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <section id="header" class=" container-fluid jumbotron text-center py-15 my-5">
                    <h3 class="display-3">Welcome and Have Your Dream</h3>
                    <p class="lead">A designer company for all your home requirements!</p>
                    <a href="" class="btn btn-primary">House</a>
                    <a href="" class="btn btn-success">Interior</a>
                </section>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1505692433770-36f19f51681d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Dark Shades</h5>
                            <p class="text">Dark color tones make life better</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="title">Living Rooms</h5>
                            <p class="text">With space, you can have a life</p>
                            <a href="" class="btn btn-outline-success btn-sm">Review</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Like</a>
                        </div>
                    </div>
                 </div>
            </div>
         </div>
    </section>



        <div class="container-fluid text-center pb-5 pt-2">
        © 2020 Copyright: <a href="http://makini-makini.herokuapp.com">Makini Makini</a>
        </div>
       


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>